body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

    margin:0;
    padding: 0;

}

#character{
    display: none;
}

#canvas{
    border:1px solid black
}

.canvaswrapper{
    /*background-image: url("./images/bg-3.jpg");*/
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
       border:1px solid black;
    padding: 10px;
    
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.btnwrapper{
    padding-top: 30px;
    text-align: center;
}
#background,#banana,#beer,#lives,#start,#countdown1,#countdown2,#countdown3,#jump,#gameover,#stage1,#stage2,#stage3{
    display:none;
}

#keys {
    text-align: center;
    height:120px
}
